*{
    padding: 0px;
    margin: 0px;
}

.forumSection
{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.css-1wc848c-MuiFormHelperText-root
{
    margin-left: 0;
}


